<a href="https://colab.research.google.com/github/nitishainita/Pandas/blob/main/Pandas_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### How to create Pandas dataframe

In [1]:
import pandas as pd

In [2]:
emp_df=pd.DataFrame()
emp_df

Empty DataFrame
Columns: []
Index: []

In [3]:
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
lst=['a','b','c']
lst

['a', 'b', 'c']

In [5]:
df1=pd.DataFrame(lst)

In [6]:
df1

   0
0  a
1  b
2  c

In [7]:
ls_of_ls=[[1,2,3],[4,5,6],[7,8,9]]
ls_of_ls

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
df2=pd.DataFrame(ls_of_ls)

In [9]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
dict1={'ID':[11,22,44,55]}
dict1

{'ID': [11, 22, 44, 55]}

In [11]:
df3=pd.DataFrame(dict1)

In [12]:
df3

   ID
0  11
1  22
2  44
3  55

In [13]:
dict2={'ID':[11,222,33,44],'SN':[1,2,3,4]}
dict2

{'ID': [11, 222, 33, 44], 'SN': [1, 2, 3, 4]}

In [14]:
df4=pd.DataFrame(dict2)

In [15]:
df4

    ID  SN
0   11   1
1  222   2
2   33   3
3   44   4

In [16]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4}]
ls_dict

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [17]:
df5=pd.DataFrame(ls_dict)

In [18]:
df5

   a  b
0  1  2
1  3  4

In [19]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df5=pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [20]:
dict_sr={'ID':pd.Series([1,2,3]),'SN':pd.Series([111,222,333])}
df6=pd.DataFrame(dict_sr)
df6

   ID   SN
0   1  111
1   2  222
2   3  333